name: Build and Push Docker Image

on:
  push:
    branches:
      - githubtodockerhub  # Trigger workflow on push to the 'main' branch

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repository-main
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{secrets.dockerhub_username}}  # Set your Docker Hub username in GitHub Secrets
          password: ${{secrets.dockerhub_token}}  # Set your Docker Hub password in GitHub Secrets

      # Step 3: Build and push the Docker image
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: dockerhub_username/main:latest  # Replace with your Docker Hub username and repository name
